<div id="add-label" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">New Label</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <%= form_for [:admin, @label], remote: true do |builder| %>
          <%= render '/admin/labels/form', form: builder %>
        <% end %>
      </section>
    </div>
</div>
