<h1 class="title">Editing Page <%= link_to 'Back to All Pages', admin_pages_path, :class => 'button is-blue is-back is-pulled-right large-button' %></h1>

<%= render 'label_modal' %>

<%= form_for @page, url: admin_page_path(@page) do |form| %>
  <%= render 'form', form: form %>
<% end %>
