<h1 class="title">New Page <%= link_to 'Back to All Page', admin_pages_path, :class => 'button is-blue is-back is-pulled-right large-button' %></h1>

<%= render 'label_modal' %>

<%= form_for [:admin, @page] do |form| %>
  <%= render "form", form: form %>
<% end %>
