<h1 class="title">Editing Admin Site Information<%= link_to 'Back to Site Information', admin_site_informations_path, :class => 'button is-blue is-back is-pulled-right large-button' %></h1>

<%= render 'form', admin_site_information: @admin_site_information %>
