<h1 class="title">Editing Supporting Unit<%= link_to 'Back to Supporting Units', admin_supporting_units_path, :class => 'button is-blue is-back is-pulled-right large-button' %></h1>

<%= render 'form', admin_supporting_unit: @admin_supporting_unit %>
