<div class="admin card is-purple is-stat">
  <div class="card-content">
    <div class="content">
      <span class="fa fa-eye"></span>
      <div class="statistic">
        <div class="label">Custom Views</div>
        <div class="number">
          <%= @viewCount %>
        </div>
      </div>
    </div>
  </div>
</div>
