<div class="admin card is-turquoise is-stat">
  <div class="card-content">
    <div class="content">
      <span class="fa fa-lock"></span>
      <div class="statistic">
        <div class="label">Active Users</div>
        <div class="number">
          <%= @userCount %>
        </div>
      </div>
    </div>
  </div>
</div>
