<h1 class="title">Dashboard</h1>

<div class="columns is-gapless add-left no-bottom">
  <div class="column is-one-half-tablet is-one-third-desktop">
    <%= render 'customview' %>
  </div>
  <div class="column is-one-half-tablet is-one-third-desktop">
    <%= render 'googleanalytics' %>
  </div>
</div>
<div class="columns is-gapless add-left">
  <div class="column is-12">
    <%= render 'brokenlinks' %>
  </div>


</div>
