// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.adminSite .title {
    padding-left: 1em;
}
.search-container {
  width: 96%;
  margin: auto;
  padding-bottom: 1em;
  position: relative;
  input {
    padding-left: 2em;
  }
  &:after {
    content: "\f002";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 12px;
    left: 10px;
    color: $grey-lighter;
  }
}
trix-editor {
  min-height: 13em;
}
trix-toolbar .trix-button--icon-code::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3Csvg width='1792' height='1792' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1120 576q0 13-9.5 22.5t-22.5 9.5-22.5-9.5-9.5-22.5q0-46-54-71t-106-25q-13 0-22.5-9.5t-9.5-22.5 9.5-22.5 22.5-9.5q50 0 99.5 16t87 54 37.5 90zm160 0q0-72-34.5-134t-90-101.5-123-62-136.5-22.5-136.5 22.5-123 62-90 101.5-34.5 134q0 101 68 180 10 11 30.5 33t30.5 33q128 153 141 298h228q13-145 141-298 10-11 30.5-33t30.5-33q68-79 68-180zm128 0q0 155-103 268-45 49-74.5 87t-59.5 95.5-34 107.5q47 28 47 82 0 37-25 64 25 27 25 64 0 52-45 81 13 23 13 47 0 46-31.5 71t-77.5 25q-20 44-60 70t-87 26-87-26-60-70q-46 0-77.5-25t-31.5-71q0-24 13-47-45-29-45-81 0-37 25-64-25-27-25-64 0-54 47-82-4-50-34-107.5t-59.5-95.5-74.5-87q-103-113-103-268 0-99 44.5-184.5t117-142 164-89 186.5-32.5 186.5 32.5 164 89 117 142 44.5 184.5z'/%3E%3C/svg%3E");
}
.trix-content pre {
  display: flex;
  align-items: center;
  border: solid 1px $yellow;
  background-color: $yellow-light;
  padding: 10px;
  padding: 10px;
  font-family: $family-sans-serif;
  font-size: 1rem;
  white-space: inherit;
  &:before {
    content: "\f0eb";
    font: normal normal normal 50px/1 FontAwesome;
    padding-right: 10px;
  }
}
.add-left {
  .column {
    &:first-child {
      margin-left: 1em;
    }
  }
}
.no-bottom {
  margin-bottom: 0 !important;
  .column {

  }
}
.admin.card {
  max-width: 95%;
  &.is-stat {
    padding: 0;
    display: flex;
    .card-content {
        overflow: hidden;
        padding: 0;
        display: flex;
        width: 100%;
        background-color: whitesmoke;
        .content {
            display: flex;
            width: 100%;
        }
    }
    .fa {
      display: block;
      width: 100%;
      padding: .5em;
      text-align: center;
      font-size: 5em;
      color: rgba(255,255,255,0.5);
    }
  }
  &.is-turquoise {
    .fa {
      background-color: $turquoise;
    }
  }
  &.is-purple {
    .fa {
        background-color: $purple;
    }
  }
  .statistic {
    width: 50%;
    text-align: center;
    .label {
      padding-top: .5em;
    }
    .number {
      font-size: 4em;
      padding: 0;
      height: auto;
      margin: 0;
    }
  }
}


.admin {
  .column {
    .title {
      margin-top: .5em;
    }
  }
  &.card {
    table {
      width: 100%;
    }
  }
  table {
    width: 96%;
    margin: auto;
  }
  &.card {
    margin: 1em;
    img {
      height: 30px;
      padding-right: 1em;
    }
  }
  &.menu {
    background-color: $grey-darker;
    .brand {
      color: white;
      background-color: $blue;
      height: 4rem;
      padding: 1.25rem;
    }
    .menu-label {
      padding: 0 1em;
    }
    .menu-list {
      a {
        padding: 1em;
        color: $grey-lighter;
        &.current {
          background-color: $blue;
          color: white;
        }
        &.pages {
          width: 100%;
        }
        &:hover {
          background-color: $blue;
          color: white;
        }
        &:before {
          padding-right: 1em;
        }
        &.labels {
          &:before {
              @include font-awesome('\f02c')
          }
        }
        &.surveys {
          &:before {
              @include font-awesome('\f044')
          }
        }
        &.dashboard {
          &:before {
              @include font-awesome('\f0e4')
          }
        }
        &.users {
          &:before {
              @include font-awesome('\f0c0')
          }
        }
        &.supporting-units {
          &:before {
              @include font-awesome('\f1ad')
          }
        }
        &.pages {
          &:before {
              @include font-awesome('\f0f6')
          }
        }
        &.units {
          &:before {
              @include font-awesome('\f1ad')
          }
        }
      }
    }
  }
}
.pages, form {

  .nested1 {
    padding-left: 2em;
  }
  .nested2 {
    padding-left: 4em;
  }
  .nested3 {
    padding-left: 6em;
  }
  .nested4 {
    padding-left: 8em;
  }
  .nested5 {
    padding-left: 10em;
  }
  .position {
    @include border-radius(5px);
    display: inline-block;
    border: solid 1px #CCC;
    width: 20px;
    font-size: .75em;
    text-align: center;
    height: 20px;
  }
  width: 95%;
  margin: auto;
  .collection-check-box {
    display: inline-block;
    label {
      margin:4px;
      background-color: #EFEFEF;
      @include border-radius(3px 0 0 3px);
      position: relative;
      padding: 0 .75em 2px .5em;
      float: left;
      text-transform: lowercase;
      &:hover {
          background: $red;
          &:after {
            border-left: 10px solid $red;
          }
      }
      &:after {
        background: #fff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid #eee;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
      }

    }
    input {
        position:absolute;
        top:-20px;
        display: none;
    }
    &.selected {
      label {
        background-color: $green;
        color: white;
        &:after {
          border-left: 10px solid $green;
        }
        &:hover {
            background: $red;
            &:after {
              border-left: 10px solid $red;
            }
        }
      }

    }
  }
}
#loading {
  display: none;
  text-align: center;
}
