// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
trix-editor {
  min-height: 30em;
  &.trix-content {
    ul {
      margin-left: 1.5em;
    }
  }

}
.accordion {
    border: solid 1px $darkBlue;
    border-top: solid 4px  $darkBlue;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    display: none;
    background-color: white;
}
.title {
  padding-left: 0.5em;
  font-weight: 400;
  font-size: 1.75em;
}
.page-body {
  padding: 0 1em;
  pre {
    display: flex;
    align-items: center;
    border: solid 1px $yellow;
    background-color: $yellow-light;
    padding: 10px;
    font-family: $family-sans-serif;
    font-size: 1rem;
    white-space: inherit;
    &:before {
      content: "\f0eb";
      font: normal normal normal 50px/1 FontAwesome;
      padding-right: 10px;
    }
  }
  ol {
    line-height: 2em;
  }
  article {
    margin-top: 2em;
    .subtitle {
      padding-bottom: .5em;
    }
    ul {
      margin-left: 2.5em;
    }
    div {
      padding-left: 1em;
    }
  }
}

.table-of-contents {
  .parent {
    font-size: 1.25rem;
    margin-left: 1.75em;
    line-height: 1.5em;
    > li {
      padding-top: .5em;
    }
    a {
      text-decoration: underline;
      color: $grey-darker;
    }
    .child {
      a {
        text-decoration: none !important;
      }
      font-size: 1rem;
      list-style: lower-alpha;
    }
  }
}

.bold {
  font-weight: bold;
}


.column {
  ul, ol {
    margin-left: 1.5em;
  }
}
.search-results {
  .highlight {
    background-color: yellow;
    font-weight: bold;
  }
  > ul {
    list-style: none;
    margin-left: 0;
    > li {
      padding: 1em .5em;
      > a {
        font-size: 1.25em;
        text-decoration: underline;
      }
      .page_path {
        color: $green;
      }
    }
  }
}
