// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
trix-editor {
  min-height: 30em;
  &.trix-content {
    ul {
      margin-left: 1.5em;
    }
  }

}

.bold {
  font-weight: bold;
}


.column {
  ul, ol {
    margin-left: 1.5em;
  }
}
