<ul>
  <% if params[:user] and params[:view] %>
    <% if current_user.id.to_s == params[:user] %>
      <% p.children.each do |sub| %>
          <% if ! LabelsPage.where(:page_id => sub.id).empty? %>
            <li <% if current_page?(sub) %> class="is-active" <% end %>>
              <%= link_to sub.title, page_path(sub, :user => params[:user], :view => params[:view]) %>
            </li>
          <% end %>
      <% end %>
    <% else %>
      <% p.children.each do |sub| %>
          <li <% if current_page?(sub) %> class="is-active" <% end %>>
            <%= link_to sub.title, page_path(sub) %>
          </li>
      <% end %>
    <% end %>
  <% else %>
    <% p.children.each do |sub| %>
        <li <% if current_page?(sub) %> class="is-active" <% end %>>
          <%= link_to sub.title, page_path(sub) %>
        </li>    
    <% end %>
  <% end %>
</ul>
