<aside class="menu sub-menu column is-3 is-narrow-mobile is-hidden-mobile">
  Table of Contents
  <% Page.roots.each do |p| %>
    <ul class="menu-list">
      <li class="parent <% if current_page?(p) %> is-active <% end %>">
        <%= link_to h(p.title), p %>
        <% if p.children.present? %>
          <%= render 'sideMenuSub', p: p %>
        <% end %>
      </li>
    </ul>
  <% end %>
  <!-- <p class="menu-label">
    General
  </p> -->
</aside>
