<% if local_assigns.has_key? :listType %>
  <<%=listType%> <% if local_assigns.has_key? :thisClass %> class=' <%= thisClass %> '<% end %>>
<% else %>
  <ul>
<% end %>
  <% p.children.each do |c| %>
    <% if allContentPages.include? c.id or allAncestors.include? c.id %>
      <li class="<% if c.has_children? %>sub-parent <% end %><% if current_page?(c) %>is-active is-active-parent<% end %>">
        <%= link_to c.title, page_path(c, :user => params[:user], :view => params[:view]) %>
          <%# render :partial => 'sideMenuViewSpecific', locals: {p: c, allContentPages: allContentPages, allAncestors: allAncestors}  %>
      </li>
    <% end %>
  <% end %>

<% if local_assigns.has_key? :listType %>
  </<%=listType%>>
<% else %>
  </ul>
<% end %>
