<ul>
  <% p.children.each do |sub| %>
    <li <% if current_page?(sub) %> class="is-active" <% end %>>
      <%= link_to_unless_current sub.title, sub %>
      <%-# <%= render 'sideMenuSub', p: sub -%>
    </li>
  <% end %>
</ul>
