<%= render partial: "sideMenu" %>

<div class="column table-of-contents">
  <% if params[:user] and params[:view] and current_user %>
    <h1 class="title">
      <% Survey.where(:id => params[:view]).each do |survey| %>
        <%= survey.name %> - Table of Contents
      <% end %>
    </h1>
  <% else %>
    <h1 class="title">Investigator Handbook - Table of Contents</h1>
  <% end %>
  <ol class="parent">
  <% Page.where("ancestry_depth < 1").find_each do |page, index| %>
    <li>
      <%= link_to page.title, page %>
      <% if page.has_children? %>
         <ol class="child">
          <% page.children.each do |child, index| %>
            <li>
              <%= link_to child.title, child %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </li>
  <% end %>
  </ol>
</div>
