<div class="column">
<ul>
  <% @pages.each do |page| %>
    <li>
      <a href='<%= request.protocol + request.host %><%= page_path(page.id) %>'><%= page.title %></a>

    </li>
  <% end %>
</ul>
</div>
