  <% if @label.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="error_explanation" style="display: none;">
    <ul>
      <li></li>
    </ul>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :label_name, :class => 'label-input' %>
  </div>

  <div class="actions">
    <a class="button is-primary is-save">
      <%= form.submit 'Save Label', :class => 'remove-label-modal button is-transparent' %>
    </a>
  </div>
