<h1 class="title">Editing Label <%= link_to 'Back to All Labels', labels_path, :class => 'button is-blue is-back is-pulled-right' %></h1>

<%= render 'form', label: @label %>

<!-- <%= link_to 'Show', @label %> | -->
