<h1 class="title">Editing Label <%= link_to 'Back to All Labels', admin_labels_path, :class => 'button is-blue is-back is-pulled-right large-button' %></h1>

<%= form_for @label, url: admin_label_path(@label) do |form| %>
  <%= render 'form', :form => form %>
<% end %>
