<h1 class="title">New Label <%= link_to 'Back to All Labels', admin_labels_path, :class => 'button is-blue is-back is-pulled-right' %></h1>

<%= form_for [:admin, @label] do |form| %>
  <%= render "form", :form => form %>
<% end %>
