<div class="column">
<h1 class="title">Create New View <%= link_to 'Back to My Views', user_surveys_path, :class => 'button is-blue is-back is-pulled-right large-button' %></h1>

<section>
  <%= render 'form', survey: @survey %>
</section>
</div>
