<h1 class="title">Editing Survey Template <%= link_to 'Back to All Survey Templates', admin_survey_templates_path, :class => 'button is-blue is-back is-pulled-right large-button' %></h1>

<section>
  <%= form_for @survey_template, url: admin_survey_template_path(@survey_template) do |form| %>
    <%= render 'form', :form => form %>
  <% end %>
</section>
