<h1 class="title">New Survey Template<%= link_to 'Back to All Survey Templates', survey_templates_path, :class => 'button is-blue is-back is-pulled-right' %></h1>

<section>
  <%= render 'form', survey_template: @survey_template %>
</section>
