<h1 class="title">New Survey <%= link_to 'Back to All Surveys', survey_templates_path, :class => 'button is-blue is-back is-pulled-right' %></h1>

<section>
  <%= render 'form', survey_template: @survey_template %>
</section>
