<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" >
      Online Investigators Guides Administration
    </a>

    <div class="navbar-burger burger" data-target="navMenuTransparent">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuTransparent" class="navbar-menu">
    <div class="navbar-start">
      <!-- Add has-dropdown if dropdown exists -->
      <div class="navbar-item is-hoverable">
        <a class="navbar-link is-active" href="/">
          Home
        </a>
        <%= link_to 'Surveys', survey_templates_path, :class => 'navbar-link' %>
        <%= link_to 'Labels', labels_path, :class => 'navbar-link' %>
        <%= link_to 'Pages', pages_path, :class => 'navbar-link' %>

        <!-- <div class="navbar-dropdown is-boxed">
          <a class="navbar-item " href="/documentation/overview/start/">
            Overview
          </a>
        </div> -->
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="https://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
              <span class="icon">
                <i class="fa fa-lock"></i>
              </span>
              <span>
                Login In
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
