<nav class="navbar">
  <div class="navbar-brand logo">
    <!-- <a class="navbar-item" >
      Online Investigators Guides Administration
    </a> -->
    <%= image_tag("emory-shield-white.png") %>

    <div class="navbar-burger burger" data-target="navMenuTransparent">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuTransparent" class="navbar-menu">
    <div class="navbar-start">
      <!-- Add has-dropdown if dropdown exists -->
      <div class="navbar-item is-hoverable">
        <a class="navbar-link is-active" href="/">
          Home
        </a>

      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">

      </div>
    </div>
  </div>
</nav>
